/* @font-face {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: normal;
    src: local("Microsoft JhengHezi"), local("Heiti TC"), local("WenQuanYi Zen Hei");
} */

.course {
    padding: 0rem 1rem;
}

.section {
    padding: 0rem 1rem;
}

.course .title {
    padding: 0rem 0.2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.section .title {
    padding: 0rem;
    font-size: 1.5rem;
    box-sizing: border-box;
    font-weight: bold;
}

.section .back {
    position: relative;
    vertical-align: text-bottom;
    padding: 0.2rem 0px 0.2rem 0.2rem;
    height: 1.4rem;
    display: inline-block;
    box-sizing: border-box;
}

.section .back:hover {
    cursor: pointer;
    opacity: 0.7;
}

.nav-bar {
    padding: 0px;
    margin: 0px;
    height: 2.5rem;
    line-height: 2.5rem;
    width: 100%;
    position: sticky;
    text-align: center;
    top: 0px;
    background: #0076dd;
    z-index: 10;
}

.nav-bar .title {
    font-size: 2rem;
    vertical-align: middle;
    box-sizing: border-box;
    display: inline-block;
    font-weight: bold;
    color: white;
}

.nav-bar .back {
    position: absolute;
    left: 0.2rem;
    top: 0.25rem;
    height: 2rem;
    display: inline-block;
    box-sizing: border-box;
}

.nav-bar .back:hover {
    cursor: pointer;
    opacity: 0.7;
}

.nav-bar .gear {
    position: absolute;
    right: 0.2rem;
    top: 0.25rem;
    height: 2rem;
    display: inline-block;
    box-sizing: border-box;
}

.nav-bar .gear:hover {
    cursor: pointer;
    opacity: 0.7;
}

.menu-list .menu-list-entry {
    display: block;
    position: relative;
    padding: 0.5rem 0.5rem;
}

.menu-list .menu-list-entry[progress=locked] {
    color: #6F879C
}

.menu-list .menu-list-entry:not([progress=locked]) {
    color: #0087ff;
}

.menu-list .menu-list-entry:not([progress=locked]):hover {
    color: #48aaff;
    cursor: pointer;
}

.menu-list .menu-list-entry:not([progress=locked]):active {
    color: #0076dd;
    cursor: pointer;
}

/* .menu-list .menu-list-entry + .menu-list-entry {
    border-top: dashed 2px rgb(149, 206, 255);
} */

/* :after instead of :before cause
   it messes with text-transform */
.menu-list-entry:after {
    content: " ";
    float: left;
    display: inline-block;
    position: relative;
    left: -0.3rem;
    margin: 0.3rem 0.2rem;
    height: 0.5rem;
    width: 0.5rem;
    box-sizing: border-box;
}

.menu-list-entry[progress=unlocked]:after {
    border: 0.15em solid #0087ff;
    border-radius: 0.25rem;
}

.menu-list-entry[progress=locked]:after {
    border: 0.15em solid #6F879C;
    border-radius: 0.25rem;
}
  
.menu-list-entry[progress=completed]:after {
    border: 0.15em solid #0087ff;
    border-radius: 0.25rem;
    background-color: #0087ff;
}

.level[non-interactable] {
    pointer-events: none;
}

.level-block {
    position: relative;
    padding: 1rem 2rem;
    margin: 2rem 1rem;
}

.level-block .title {
    position: absolute;
    background: white;
    font: bold 1rem/2rem sans-serif;
    padding: 0 0.5rem;
    text-align: center;
    top: -1rem;
    left: 1.5rem;
}

.level-block .title + * {
    margin-top: 1rem;
}

.level-block .content p {
    line-height: 1.5;
}

.level-block .content li {
    line-height: 1.5;
}

.elaborate {
    border-radius: 2px;
    border: 2px solid #08f;
}

.illustrate {
    border-radius: 2px;
    border: 2px solid #08f;
}

img[alt=illustration] {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.side-by-side-container::after {
    content: "";
    clear: both;
    display: table;
}

.instruct {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.verify {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.verify[appending] {
    margin-top: -2rem;
}

.autoplay {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.processing-box {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
}

.processing-box button:only-child {
    margin-left: auto;
    align-self: flex-end;
}

.processing-box img:only-child {
    margin-left: auto;
    align-self: flex-end;
}

[red-highlight] {
    color: crimson;
}

.inline-img {
    height: 1.5rem;
    vertical-align: middle;
}

.inline-txt {
    display: inline;
}

.red-backed {
    background-color: rgb(255, 229, 229);
}

.green-backed {
    background-color: rgb(226, 253, 227);
}

table.distribute {
    width: 100%;
}

td.cell {
    text-align: center;
}

code {
    background-color: #e3e3e3;
    font-family: monospace;
}

[blocked] {
    pointer-events: none;
    opacity: 0.4;
}

div[class~="img-title"] {
    text-align: center;
    font-weight: bold;
}