/* @font-face {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: normal;
    src: local("Microsoft JhengHezi"), local("Heiti TC"), local("WenQuanYi Zen Hei");
} */

.level-block {
    position: relative;
    padding: 1rem 2rem;
    margin: 2rem 1rem;
}

.level-block .title {
    position: absolute;
    background: white;
    font: bold 1rem/2rem sans-serif;
    padding: 0 0.5rem;
    text-align: center;
    top: -1rem;
    left: 1.5rem;
}

.level-block .title + * {
    margin-top: 1rem;
}


.elaborate {
    border-radius: 2px;
    border: 2px solid #08f;
}

.illustrate {
    border-radius: 2px;
    border: 2px solid #08f;
}

.instruct {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.verify {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.verify[appending] {
    margin-top: -2rem;
}

.autoplay {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.processing-box {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

[drift-right] {
    float: right;
}

.inline-img {
    height: 1.5rem;
    vertical-align: middle;
}

[blocked] {
    pointer-events: none;
    opacity: 0.4;
}