/* @font-face {
    font-family: "sans-serif";
    font-style: normal;
    font-weight: normal;
    src: local("Microsoft JhengHezi"), local("Heiti TC"), local("WenQuanYi Zen Hei");
} */

.menu-list .menu-list-entry {
    display: block;
    position: relative;
    padding: 0.5rem 0.5rem;
}

.menu-list .menu-list-entry:hover {
    background: rgb(247, 247, 252);
}

.menu-list .menu-list-entry:active {
    background: rgb(242, 242, 247);
}

.menu-list .menu-list-entry + .menu-list-entry {
    border-top: dashed 2px rgb(149, 206, 255);
}

/* :after instead of :before cause
   it messes with text-transform */
.menu-list-entry:after {
    content: " ";
    float: left;
    display: inline-block;
    position: relative;
    left: -0.2rem;
    margin: 0.3rem 0.3rem;
    height: 0.5rem;
    width: 0.5rem;
    box-sizing: border-box;
    border: 0.15em solid #0087ff;
    border-radius: 0.25rem;
}
  
.menu-list-entry[completed]:after {
    content: " ";
    float: left;
    display: inline-block;
    position: relative;
    left: -0.5rem;
    margin: 0.3rem 0rem;
    height: 0.5rem;
    width: 0.5rem;
    box-sizing: border-box;
    border: 0.15em solid #0087ff;
    border-radius: 0.25rem;
    background-color: #0087ff;
}

.level[non-interactable] {
    pointer-events: none;
}

.level-block {
    position: relative;
    padding: 1rem 2rem;
    margin: 2rem 1rem;
}

.level-block .title {
    position: absolute;
    background: white;
    font: bold 1rem/2rem sans-serif;
    padding: 0 0.5rem;
    text-align: center;
    top: -1rem;
    left: 1.5rem;
}

.level-block .title + * {
    margin-top: 1rem;
}


.elaborate {
    border-radius: 2px;
    border: 2px solid #08f;
}

.illustrate {
    border-radius: 2px;
    border: 2px solid #08f;
}

.instruct {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.verify {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.verify[appending] {
    margin-top: -2rem;
}

.autoplay {
    border-radius: 2px;
    color: #6F879C;
    background: rgba(136, 204, 255, 0.18);
}

.processing-box {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

[drift-right] {
    float: right;
}

.inline-img {
    height: 1.5rem;
    vertical-align: middle;
}

[blocked] {
    pointer-events: none;
    opacity: 0.4;
}